*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
    background-image: '../assets/hero-bg.png';
    
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

body{
    background-color: black;
}